<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/output.css') }}">
</head>

<body>
    {% include 'components/navbar.html' %}
    <div class="content mt-[5vh]"
    {% include 'components/house_block.html' %}
</body>
</html>


<!-- <div class="content mt-[5vh] p-4 bg-blue-300">
    <div class="">
        <p id="hello">Hello, {{ username }}</p>
        <h1>Live Sensor Data</h1>
        <p class="text-center font-bold text-green-500">PPppPP</p>
    </div>
    <div class="room-container border p-5">
        <button class="btn room-btn">Room1</button>
        <div class="dashboard flex justify-between space-x-4">
            <div id="temperature"
                class="flex flex-col items-center p-5 bg-blue-200 text-yellow-400 border rounded w-80">
                <p class="text-xl font-semibold text-blue-600">TEMPERATURE</p>
            </div>
            <div id="light" class="flex flex-col items-center p-5 bg-yellow-200 border rounded w-80">
                <p class="text-xl font-semibold text-blue-600">HUMIDITY</p>
            </div>
            <div id="alarm" class="flex flex-col items-center p-5 bg-gray-200 border rounded w-80">
                <p class="text-xl font-semibold text-blue-600">ALARM</p>
            </div>
        </div>
    </div>
</div> -->