@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.app{
    @apply mt-[7vh] w-full h-full bg-blue-200
}

/*===MAIN===*/
.main_page{
    @apply p-1 my-5 h-full bg-gray-300;
}

.mn-createhouse{
    @apply relative m-5 bg-stone-300 shadow-md rounded-md mt-2 w-64 p-2 border border-solid border-black
}

.houseList {
    @apply m-5 p-3 h-full bg-blue-400
}

.house_element {
    @apply  min-h-10 px-5 py-1 mx-5 my-3 border-2 border-green-600 bg-amber-100 rounded-md shadow-md flex flex-col justify-center items-start text-center;
    height: auto;
}

.house_element_details{
    @apply w-full p-2 bg-gray-200 justify-start items-start text-start
}

.create_room_element{
    @apply m-5 p-3 border border-solid border-black
}

.room_element{
    @apply my-2 px-5 py-2 bg-yellow-100 border-2 border-solid border-green-600;
}

.device_list{
    @apply mx-10 p-1 flex-col justify-center items-center h-screen
}

.device_element{
    @apply flex items-center justify-between bg-gray-300 border-2 border-solid border-green-800 px-3 py-1 my-1 rounded;
}

.device_edit_input{
    @apply m-1 mx-3 p-1 border border-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400;
}
/*===LOGIN==*/
.login-form {
    @apply justify-center items-center bg-white p-6 rounded shadow-md;
}

.login-input{
    @apply w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.login-input-label{
    @apply block text-sm font-medium;
}

/*===BUTTONS===*/
.login-btn {
    @apply bg-blue-600 border-solid text-center font-bold text-2xl text-white w-full py-2 rounded hover:bg-blue-600;
}

.signup-btn{
    @apply text-blue-800 font-bold hover:text-blue-300;
}

.create_house-btn {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded
}

.add_room-btn{
    @apply bg-green-500 font-bold text-white hover:bg-green-700 py-1 px-4 rounded mx-1 my-1
}

.cancel-btn{
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-1 my-1
}

.cancel-sm-btn{
    @apply bg-red-500 hover:bg-red-700 text-white text-sm font-bold py-1 px-2 rounded mx-1 my-1
}