<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baida Bachelor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body class="index">
    <div class="index-left-side">
        <p class="text-4xl font-bold text-blue-600">Welcome to your Smart Home</p>
    </div>
    <!-- <div class="separator"></div> -->
    <div class="index-right-side">
        <div class="form-container">
            <h2>LOGIN</h2>
            <form method="POST">
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {{ form.submit(class="login-btn") }}
            </form>
            <div class="label_register">
                New user? <a href="/register">Register now</a>
            </div>
        </div>
    </div>
</body>

</html>